<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<h1> Cat Information</h1>


<nav class="navbar navbar-expand-md">
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="http://web.engr.oregonstate.edu/~raosh/CatRepo/catHome.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://web.engr.oregonstate.edu/~raosh/CatRepo/newCat.html">Cats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://web.engr.oregonstate.edu/~raosh/CatRepo/adopters.html">Adopt</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="http://web.engr.oregonstate.edu/~raosh/CatRepo/volunteers.html">Volunteer</a>
      </li>
    </ul>
</nav>

<!--
<div class="search-container">
  <form action="/action_page.php">
    <input type="text" placeholder="Search.." name="search">
      <button type="submit" value = "submit" name = "submit"><i class="fa fa-search"></i>Submit</button>
    </form>
</div>
-->
<h3> Cats </h3>
  <table>
      <tr class="tableHead">
        <th>Name</th>
        <th>Color</th>
        <th>Size</th>
        <th>Breed</th>
        <th>Age</th>
        <th>Date of Arrival</th>
        <th>Volunteers</th>
        <th>Veterinarian</th>
        <th>Other cats okay?</th>
        <th>Kids okay?</th>
        <th>Paired with</th>
        <th>Adopter Name</th>
        <th>Medication?</th>
        <th>Medical Needs</th>
        <th>Edit Cat Info</th>
        <th>Delete cat?</th>
      </tr>
    <tr class="catInfo">
      <td>Mr. Meows</td>
      <td>Orange</td>
      <td>Large</td>
      <td>none</td>
      <td>3</td>
      <td>2019-03-04</td>
      <td>Bob</td>
      <td>Dr. Spock</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Captain Fluffy</td>
      <td>none</td>
      <td>Yes</td>
      <td>Asthma</td>
      <td><button type="button" class="btn btn-success">Edit</button></td>
      <td><button type="button" class="btn btn-success">Delete</button></td>
    </tr>
  </table>

  <div>
    <button type="button" class="btn btn-success">Search for a Cat</button>
  </div>
  
  <form action="http://web.engr.oregonstate.edu/~knapplau/340_database/new_cat_form.html">
    <input type="submit" value="Add A Cat" />
  </form>
  
    <form action="/action_page.php">
  Name:<br>
  <input type="text" name="firstname" >
  <br>
  Color:<br>
  <input type="text" name="lastname" >
  <br><br>
  Size:<br>
  <input type="text" name="Specialties" >
  <br>
  Age:<br>
  <input type="text" name="clinic">
  <br><br>
  Volunteer Name:<br>
  <input type="text" name="vet info" >
  <br>
  Veterinarian:<br>
  <input type="text" name="vet info" >
  <br>
  Other Cats ok? (y/n):<br>
  <input type="text" name="vet info" >
  <br>
  Kids ok? (y/n):<br>
  <input type="text" name="vet info" >
  <br>
  Paired with:<br>
  <input type="text" name="vet info" >
  <br>
  Adopter Name:<br>
  <input type="text" name="vet info" >
  <br>
  Medication:<br>
  <input type="text" name="vet info" >
  <br>
  Medical Needs:<br>
  <input type="text" name="vet info" >
  <br>
  <input type="submit" value="Submit">
</form>


</body>
</html>
